<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<style type="text/css">
		p {
			font-size:5em;
			margin:5px;
			padding:20px;
			display: inline-block;
		}

		.p1{
			background:black;
			text-align:left;
			text-shadow: 0 -5px 4px #FF3,2px -10px 6px #fd3,-2px -15px 11px #f80,2px -25px 18px #f20;
			color:red;
		}
</style>
</head>
<body>
<div align="center">
<p class="p1">恭喜，没有慢查询，感谢大家的共同努力 \(^o^)/ </p>
</div>
<footer >
	<p style="text-align: center;font-size: 14px;width: 100%;position: absolute;"><a href="https://github.com">GitHub</a> <a href="https://aikbuk.com">个人技术博客</a></p>
</footer>
</body>
</html>